@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

:root {
    --large-width: 1490px;
    --middle-width: 800px;
}

@media (max-width: 599px) {
    :root {
        font-size: 14px;
    }
}

@media (min-width: 600px) and (max-width:799px) {
    :root {
        font-size: 16px;
    }
}

/* @media (min-width: 800px) {
    :root {
        font-size: 18px;
    }
} */

* {
    margin: 0; 
    padding: 0;
}

body {
    background-color: #fff;
    color: #1d1d1d;
}

/* header */
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 115px;
    
}

.logo a {
    text-decoration: none;
}

.logo h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    
}

.all {
    margin-right: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.bar_one {
    margin-right: 115px;
    color: #fff;
}

.bar_one a {
    text-decoration: none;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

.navbar {
    overflow: hidden;
    background-color: #306AFF;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  
  /* Links inside the navbar */
  .all .navbar a {
    margin-right: 10vw;
    font-size: 16px;
    color: white;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  /* The dropdown container */
  .dropdown {
    /* float: left; */
    overflow: hidden;
    margin-right: 115px;
  }
  
  /* Dropdown button */
  .all .dropdown .dropbtn {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 0px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  /* .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  } */
  
  /* Dropdown content (hidden by default) */
  .all .dropdown-content {
    display: none;
    position: absolute;
    background-color: #306AFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #89B1FF;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* header end */


/* .conB .container {
    padding-top: 0px;
    padding-bottom: 00px;
} */

.conB .text {
    padding-left: 1vw;
    padding-right:  1vw;
    padding-bottom: 1.5px;
    text-align: center;
}

.conB h2 {
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    font-size: 0.9vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

.conB .main {
    margin-top: 8vw;
    margin-bottom: 2.2vw;
    display: flex;
    padding-left: 6vw;
}


.conB h3 {
    font-size: 1.2vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}



.conB p {
    margin-top: 0;
    margin-bottom: 3vw;
    font-size: 0.75vw;
    line-height: 1.8;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    width: 16.3vw;
    display: inline-block;
    color: #7c7c7c;
}


.conB .img_1 {
    display: inline-block;
    background-image: url(/img/s_1.jpg);
    width: 16.5vw;
    height: 16.5vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius:0.8vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.conB .img_2 {
    display: inline-block;
    background-image: url(/img/s_2.jpg);
    width: 16.5vw;
    height: 16.5vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0.8vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.conB .img_3 {
    display: inline-block;
    background-image: url(/img/s_3.jpg);
    width: 16.5vw;
    height: 16.5vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0.8vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.conB .img_4 {
    display: inline-block;
    background-image: url(/img/s_4.jpg);
    width: 16.5vw;
    height: 16.5vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0.8vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.conB h4 {
    font-size:0.85vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.conB .sub {
    display: flex;
    width: 16vw;
    justify-content: space-between;
    float: right;
    padding-right: 9vw;
    margin-top: -3.5vw;
    
    cursor: pointer;
}



@media (min-width: 768px) {
    .conB .container {
        display: flex;
        max-width: 1490px;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }

    .conB .main {
        display: flex;
        max-width: 1490px;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }

    .conB .sub {
        display: flex;
        max-width: 1490px;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }

    .conB .text {
        flex: 1;
    }
}

.conA {
    color: #383838;
    margin-top: 9vw;
}

.conA .text {
    padding: 1vw;
}

.conA h2 {
    margin-top: 0;
    margin-bottom: 1vw;
    font-size: 1.3vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

.conA p {
    margin-top: 0;
    margin-bottom: 1.5vw;
    font-size: 0.85vw;
    line-height: 1.8;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.conA button {
    font-size: 0.85vw;
    background: #306AFF;
    color: #fff;
    border: 0.25rem solid #306AFF;
    padding: 0.85em 0.75em;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 0.4vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

/* .conA button:hover {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
    );
} */

.conA .photo {
    margin-left: 2.5vw;
    min-height: 7vw;
    background-image: url(/img/alexander-shatov-mr4JG4SYOF8-unsplash.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 1vw;
}

@media (min-width: 768px) {
    .conA .container {
        display: flex;
        max-width: 1490px;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }

    .conA .photo {
        flex: 1;
        padding: 50px;
    }

    .conA .text {
        flex: 2;
        padding: 50px;
    }

}


.conD .main {
    margin-top: 2.8vw;
    margin-bottom: 1vw;
    display: flex;
}

.conD .row {
    display: block;
   margin-left: 2vw;
    margin-bottom: 6vw;
}

.conD .box_one {
    display: flex;
    float: left;
    width:45vw
}

.conD .box_one1{
    display: flex;
    float: left;
    width:30vw
}

.conD .box_two {
    display: flex;
    float: left;
    width:57.5vw
}


.conD .box_three {
    display: flex;
     float: left;
     margin-left: 1.3vw;
}

.conD .box_three_1 {
    display: flex;
     float: left;
     margin-left: 1vw;
     padding-top: 1.5vw;

}

.conD .box_four {
    display: flex;
    padding-left: 2vw;
    padding-top: 1vw;
    align-items: center;
}

.conD .box_four_1 {
    display: flex;
    padding-left: 2vw;
    align-items: center;
}

.conD .box_four_1 .eclipse{
    margin-top: -1vw;
}

.conD .content {
    background-color: #306AFF;
    padding: 0.7vw 1vw;
    font-size: 0.8vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    border-radius: 0.3vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    flex-wrap: wrap;
    margin: 0.65vw;
    float: left;
    color: #fff;
}

.conD .stroke {
    background-color: #306AFF;
    width: 17vw;
    height: 0.45vw;
    border-radius:10vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
}

.conD .eclipse {
    background-color: #306AFF;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vw;
    height: 6vw;
    border-radius: 10vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    line-height: 1.2;
    color: #fff;
}

.conD .eclipse p {
    margin-top: 20px;
    font-size: 0.75vw;
}

.conD h3 {
    margin-left: 2.8vw;
    font-size: 1.2vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

.conD .container {
    padding-top: 0.5vw;
}



.conD p {
    margin-top: 0;
    margin-bottom: 1vw;
    font-size: 1vw;
    line-height: 1.8;
    opacity: 0.8;
}

.conB .sub .industry{
 
    color: #306AFF;
}
.media{

    color: #5c5c5c;
    
}




@media (min-width: 768px) {
    .conD .container {
        /* display: flex; */
        max-width: 1490px;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
        padding-top: 40px;
        padding-bottom: 40px;
    }


    .conD .photo {
        flex: 0 0 400px;
    }

    .conD .text {
        flex: 1;
        padding: 50px;
    }

    .conD .main {
        display: flex;
        max-width: 1490px;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }

}

#footer {
    position:absolute;
    /* margin-top:100vh; */
    width:100%;
    height:5vw;   
    background:#F8F9FA;
    display: flex;
    /* justify-content: center; */
    align-items: center;


}

#footer h3 {
    font-size: 0.8vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    margin-left: 9vw;
}

#footer h6 {
    font-size: 0.6vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #878890;
    margin-left: 2vw;
    width:8vw

}

#footer h4 {
    font-size: 0.8vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    margin-left: 20vw;

}

#footer h5 {
    font-size: 0.8vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    margin-left: 23vw;
    
}

#footer a {
    text-decoration: none;
   width:1vw;
   height:1vw;
}

.conA .slide_from_bottom a{
    text-decoration: none;
    color: #fff;
    transition: all 0.35s;
}

.conA button.slide_from_bottom:hover a {
    color: #306AFF;
  }
  .conA button.slide_from_bottom::after {
    content: "";
    background: #fff;
    position: absolute;
    z-index: -1;
    padding: 0.85em 0.75em;
    display: block;
  }
  .conA button[class^="slide"]::after {
    transition: all 0.35s;
  }
  .conA button[class^="slide"]:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.35s;
  }

  .conA button.slide_from_bottom::after  {
    left: 0;
    right: 0;
    top: 100%;
    bottom: -100%;
}
